<div class = "col-8  pl-5 pt-5" >
  <%= form_with model: @user, url: admin_user_path, method: :patch, local: true do |f| %>
    <div class="field row">
      <div class = "col-2"><%= f.label :会員ID %></div>
      <div class = "col-5"><%= @user.id %></div>
    </div>
    <div class="field row">
      <div class = "col-2"><%= f.label :氏名 %></div>
      <div class = "col-5">
        <%= f.text_field :name, autofocus: true %>
      </div>
    </div>
    <div class="field row">
      <div class = "col-2"><%= f.label :メールアドレス %></div>
      <div class = "col-5"><%= f.email_field :email %></div>
    </div>
    <div class="field row">
      <div class = "col-2"><%= f.label :ステータス %></div>
      <div class = "col-5">
        <%= f.radio_button :is_deleted, false %>
        <%= f.label :is_deleted, '有効', value: true %>
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :is_deleted, '退会', value: false %>
      </div>
    </div>
    <div>
      <%= f.submit "変更を保存" %>
    </div>
  <% end %>
</div>
</div>