<!DOCTYPE html>
<html>
  <head>
    <title>Are_you_ready_to_order</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class = "row no-gutters">
      <div class = "col-2">
        <div class="listings">
          <div class="listings_channels">
            <h2 class="listings_header">リンクリスト</h2>
              <ul class="channel_list">
               <% if admin_signed_in? %>
                  <li class="nav-item nav-link"><%= link_to "会員一覧", admin_users_path, class:"link" %></li>
                  <li class="nav-item nav-link"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"link" %></li>
                <% elsif user_signed_in? %>
                  <li class="nav-item nav-link"><%= link_to "マイページ", user_path(current_user.id), class:"link" %></li>
                  <li class="nav-item nav-link"><%= link_to "みんなの投稿", maps_path, class:"link" %></li>
                  <li class="nav-item nav-link"><%= link_to "投稿する", new_map_path, class:"link" %></li>
                  <li class="nav-item nav-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"link" %></li>
                <% else %>
                  <li class="nav-item nav-link"><%= link_to "home", root_path, class:"link" %></li>
                  <li class="nav-item nav-link"><%= link_to "about", home_about_path, class:"link" %></li>
                  <li class="nav-item nav-link"><%= link_to "新規登録", new_user_registration_path, class:"link" %></li>
                  <li class="nav-item nav-link"><%= link_to "ログイン", new_user_session_path, class:"link" %></li>
               <% end %>
              </ul>
          </div>
             <% if current_page?(maps_path)%>
              <div>みんなの投稿</div>
               <%= form_with url: searches_search_path, method: :get, local: true do |f| %>
                <%= f.select :peko, [['ちょいペコ','ちょいペコ'], ['ペコ','ペコ'], ['ペコMAX','ペコMAX']], {prompt: '  --  選択してください  --  '} %>
                <%= f.submit '検索' %>
              <% end %>
             <% end %>
        </div>
      </div>
     <%= yield %>
    </div>
  </body>

</html>