<!DOCTYPE html>
<html>
  <head>
    <title>Are_you_ready_to_order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 文字のフォント変更の読み込み -->
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class = "row no-gutters">
      <div class = "col-1">
        <div class="listings">
          <div class="listings_channels">
                <div class = "pecokuro">
                  <p><%= image_tag 'logo-peco2.png', width: "110%", height: "100%" %></p>
                </div>
                  <!--検索機能-->
                  <% if current_page?(maps_path || searches_search_path)%>
                    <div class = "search_peko">
                      <h7>今の腹ペコ度でお店の絞込みできます。</h7>
                      <div class = "form-select">
                        <%= form_with url: searches_search_path, method: :get, local: true do |f| %>
                          <%= f.select :peko, [['ちょいペコ','ちょいペコ'], ['ペコ','ペコ'], ['ペコMAX','ペコMAX']], {prompt: '  --  選択してください  --  '}, class: "select" %>
                           <div class = "submit" ><%= f.submit '検索' %></div>
                        <% end %>
                      </div>
                    </div>
                  <% elsif current_page?(searches_search_path)%>
                    <div class = "search_peko">
                      <h7>今の腹ペコ度でお店の絞込みできます。</h7>
                      <div class = "form-select">
                        <%= form_with url: searches_search_path, method: :get, local: true do |f| %>
                          <%= f.select :peko, [['ちょいペコ','ちょいペコ'], ['ペコ','ペコ'], ['ペコMAX','ペコMAX']], {prompt: '  --  選択してください  --  '}, class: "select" %>
                          <div class = "submit" ><%= f.submit '検索' %></div>
                        <% end %>
                      </div>
                  　</div>
                  <% end %>
              <ul class="channel_list text-center">
               <% if admin_signed_in? %>
                  <li class="nav-item nav-link"><h4><%= link_to "会員一覧", admin_users_path, class:"link" %></h4></li>
                  <li class="nav-item nav-link"><h4><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"link" %></h4></h4></li>
                <% elsif user_signed_in? %>
                  <li class="nav-item nav-link">
                    <%= link_to maps_path, class:"link" do %><i class="fas fa-utensils fa-5x"></i><div><strong>投稿一覧</strong></div>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link">
                    <%= link_to new_map_path, class:"link" do %><i class="fas fa-map-marked-alt fa-5x"></i><div><strong>投稿する</strong></div>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link">
                    <%= link_to user_path(current_user.id), class:"link" do %><i class="fas fa-heart fa-5x"></i><div><strong>お気に入り</strong></div>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link">
                    <%= link_to destroy_user_session_path, method: :delete, class:"link" do %><i class="fas fa-sign-out-alt fa-5x"></i><div><strong>ログアウト</strong></div>
                    <% end %>
                  </li>
                <% else %>
                  <li class="nav-item nav-link"><%= link_to root_path, class:"link" do %>
                    <i class="fas fa-utensils fa-5x"></i><div><strong>投稿一覧</strong></div>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link"><%= link_to home_about_path, class:"link" do %>
                    <i class="fas fa-book-reader fa-5x"></i><div><strong>当サイトについて</strong></div>
                    <% end %>
                  </li>
                  <li class="nav-item nav-link"><%= link_to new_user_registration_path, class:"link" do %>
                    <i class="fas fa-user-plus fa-5x"></i><div><strong>新規登録</strong></div>
                  <% end %>
                  </li>
                  <li class="nav-item nav-link"><%= link_to new_user_session_path, class:"link" do  %>
                    <i class="fas fa-sign-in-alt fa-5x"></i><div><strong>ログイン</strong></div>
                  <% end %>
                  </li>
               <% end %>
              </ul>
          </div>
        </div>
      </div>
     <%= yield %>
    </div>
  </body>
</html>